@import "tailwindcss";

@theme {
    --color-primary: #0f172a;
    --color-secondary: #1e293b;
    --color-accent: #38bdf8;
    --color-accent-hover: #0ea5e9;

    --font-sans: 'Outfit', sans-serif;
}

body {
    background-color: var(--color-primary);
    color: white;
    font-family: var(--font-sans);
    overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--color-primary);
}

::-webkit-scrollbar-thumb {
    background: var(--color-secondary);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-accent);
}